
  prod works!

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Actions available</th>
      </tr>
    </thead>
    <tbody *ngFor="let pstuff of product">
      <tr>
        <td> {{pstuff.title}}</td>
        <img src ="{{pstuff.imgUrl}}">

        <td><button class="btn btn-outline-success float-right" [routerLink]="['/edit', pstuff._id]">Edit</button> 
          <button class="btn btn-outline-danger float-right" (click)=delProduct(pstuff._id)>Delete</button>
      </tr>
    </tbody>
  </table>
